body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}
.logo{
      font-size:35px;
  color:white;
        border-left: solid 0px #eb4034;

}
h1{
      border-left: solid 7px #eb4034;
  color:#4d4d4d;
  font-size:40px;
  
}
p{
    color:#4d4d4d;
  font-size:22px;
}
.link{
  color:blue;
}
.black_a{
  color:#4d4d4d;
}
a{
  color:white;
  font-weight:bold;
  text-decoration: none;
}
body{
      margin-left: 40px;
  font-family:sans-serif;
}
header {
    width: 100%;
    height: 80px;
    background: #eb4034;
    padding: 20px 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

header .gnav .menu {
    display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li {
    list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li + li {
    margin-left: 50px; /* メニューそれぞれに間隔をあけるため */
}

